exports.keys = (function() {
    var keys = {};

    if(ENV_DEV) {
        keys.backend = {
            url: ''
        };

    } else if (ENV_TEST) {
        keys.backend = {
            url: ''
        };

    } else if (ENV_PRODUCTION) {
        keys.backend = {
            url: ''
        };
    }

    return keys;
})();
